<%- partial('_partial/header') %>
<section class="archive">
  <h1 class="header"></h1>
  <ul class="post-archive">
    <%- list_archives() %>
  </ul>
</section>
<%- partial('_partial/paginator') %>
<%- partial('_partial/footer') %>
