<!DOCTYPE html>
<html>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8076240da6a9474eb806a2772561d84a"}'></script><!-- End Cloudflare Web Analytics -->
  <%- partial('_partial/head') %>
  <body>
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>