<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8076240da6a9474eb806a2772561d84a"}'></script><!-- End Cloudflare Web Analytics -->
<footer>
  <%= date(new Date(), 'YYYY') %>
  <span class="author">
    <%= config.author || '' %>
  </span>
</footer>
