.page-nav {
  padding: 0 20px;
  font-family: "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif, "Merriweather", serif

  .prev,
  .page-number {
    padding: 10px 20px 10px 0;
  }

  .next {
    float: right;
  }

  a {
    color: #777;

    &:hover {
      color: #000;
    }
  }
}
